;; shadow-cljs configuration
{:source-paths
 ["src/main"]

 :nrepl
 {:port       8777
  :middleware [refactor-nrepl.middleware/wrap-refactor]}

 :dependencies
 [[reagent "0.10.0"]
  [re-frame "0.12.0"]
  [day8.re-frame/http-fx "v0.2.0"]]

 :dev-http {8000 "public"}

 :builds
 {:app {:target     :browser
        :output-dir "public/assets/js"
        :asset-path "/assets/js"
        :modules    {:main {:init-fn education.core/init}}
        :release    {:compiler-options {:optimizations :simple}}
        :devtools   {:watch-dir   "public"
                     :repl-pprint true}}}}
